#app, body, html {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

#app, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app {
    flex: 1;
}

#icon-credit {
    flex: 0 0 auto;
}

.name-form {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
canvas {
    background-color: black;
    height: 100%;
    width: 100%;
}
